html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
}

:root {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.6rem;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
}

/* color */

a {
    color: #000;
}

.block_pink {
    background-color: #D9335B;
    color: #fff;
}

.block_off-black {
    background-color: #221C1E;
    color: #fff;
}

.pink_color {
    color: #D9335B;
}

/* nav */

header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgb(34,28,30);
    background: linear-gradient(180deg, rgba(34,28,30,1) 20%, rgba(34,28,30,0.652744391025641) 55%, rgba(34,28,30,0) 100%);
}

header i {
    color: #fff;
    padding: 10px;
}

nav {
    transition-property: background;
    transition-duration: 0.5s;
}

nav:hover {
    background: rgb(34,28,30);
}

nav a, nav label {
    color: #fff;
    text-decoration: none;
}


nav {
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem;
    height: 65px;
    width: 100%;
}

.nav-active {
    color: #FF4773;
    text-decoration: underline;
}

.nav-icon-active {
    color: #FF4773;
}

nav section {
    padding: 0rem 1rem;
}

nav, #menu_checkbox {
    display: none;
}

#menu_checkbox:checked ~ nav {
    display: block;
}

.genre_dropdown, #genre_checkbox {
    display: none;
}

#genre_checkbox:checked ~ .genre_dropdown {
    display: flex;
}


.profile_dropdown, #profile_checkbox {
    display: none;
}

#profile_checkbox:checked ~ .profile_dropdown {
    display: flex;
}

.header_logo {
    width: 17.4rem;
    height: auto;
}

@media (max-width: 1000px) {
    nav {
        background: rgb(34,28,30);
    }

    nav section li {
        display: block;
    }

    header {
            background: rgb(34,28,30);
    }

}

@media (min-width: 1001px) {
    nav {
        display: flex;
        position: sticky;
    }
        
    nav a:hover, nav label:hover {
        color: #FF4773;
        text-decoration: underline;
    }

    nav i:hover {
        color: #FF4773;
    }

    .middle_header li, .middle_header label {
        margin: auto 15px;
    }

    .right_header a {
        padding: auto 1.5rem;
    }

    .hamburger_icon {
        display: none;
    }
    
    .genre_dropdown {
        position: absolute;
        flex-direction: column;
        background-color: #221C1E;
        padding: 16px;
    }

    .genre_dropdown li {
        margin: auto 0px;
    }

    .profile_dropdown {
        position: absolute;
        background-color: #221C1E;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 12px;
        width: 104px;
        right: 60px;
    }

    nav section {
        display: inline-flex;
    }

    nav section li {
        display: inline-flex;
    }
}

/* Footer */

footer {
    padding: 2rem;

    /* come back and make it stick to the bottom somehow */
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(6, 110px);
    justify-content: center;
    align-items: start;
}

.footer_grid div a {
    text-decoration: none;
    color: #fff;
}

.footer_left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 120px;
}

.footer_left a {
    padding: 8px;
}

.footer_right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;
    justify-content: center;
    grid-column-start: 5;
}

.footer_right a {
    padding: 10px;
}

.footer_copyright {
    grid-column-end: span 2;
    padding: 8px;
}

/* Button */

.cta {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 220px;
    height: 29px;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold ;
    text-decoration: none;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0.5rem;
}

.cta_order_complete {
    width: 150px;
}

.cta_contact {
    width: 140px;
    height: 40px;
    padding: 8px;
}

/* section */

.section1_films{
    width: 200px;
}

.centered_align {
    justify-content: center;
    align-items: center;
}

.featured_films_details_container {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(28,38,46,0) 0%, rgba(25,73,101,1) 50%, rgba(12,108,149,1) 75%, rgba(80,189,228,1) 100%);
    color: #fff;
    padding: 164px 50px 118px;
}

.featured_films_cover {
    height: auto;
}

.featured_films_details {
    display: flex;
    margin: 0px 56px;
    width: 388px;
    flex-wrap: wrap;
    flex-direction: column;
}

.featured_films_details > * {
    padding-bottom: 25px;
}

.featured_films_trailer {
    height: 651px;
    z-index: -2;
    position: absolute;
    top: 0px;
}

div.featured_films_details ul li{
    display: inline-flex;
    box-sizing: border-box;
    width: 108px;
    height: 32px;
    margin-right: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.section_films {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.section_films_container {
    padding: 60px;
    position: relative;
    top: 651px;
    height: 412px;
    z-index: -1;
}

.film_info_block {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 246px;
    width: 236px;
    padding: 16px;
    color: #000;
    background-color: #D4F7FF;
    position: relative;
    top: -250px;
    z-index: -1;
}


div.film_info_block h2,div.film_info_block p{
    padding-bottom: 14px;
}

div.film_info_block ul{
    display: inline-flex;
    padding-inline-start: 0px;
}

div.film_info_block ul li{
    display: flex;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

div.film_info_block ul li a{
    color: #000;
    margin: auto;
}

.inspiration_section {
    display: flex;
    max-width: 1440px;
    margin: 0px auto;
    position: relative;
    bottom: -651px;
}

.inspiration_section div{
    padding: 60px;
}

.inspiration_section input{
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 0.5rem;
    height: 32px;
    width: 336px;
}

/* About page */

.about_main {
    width: 1100px;
    margin: auto;
    margin-top: 244px;
}

.about_main > * {
    margin-bottom: 180px;
}

.about_main h1{
    text-align: center;
}

.about_text_flex {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.about_container_flex {
    display: flex;
    align-items: center;
    gap: 120px;
    flex-direction: row;
}

.bottom_footer {
    width: 100vw;
    margin: 0px 0px;
    bottom: 0px;
}

/* Contact page */

.contact_main {
    width: 660px;
    position: relative;
    margin: 124px 60px auto;
    z-index: -1;
}

.contact_main > * {
    margin-top: 30px;
}

/* form */

.contact_form {
    display: grid;
}

input, select, textarea {
    display: block;
    border: 2px solid #000000;
    border-radius: 0.5rem;
    padding: 12px;
}

input, textarea {
    margin: 0px 0px 15px;
}






/* Align */

.float_right {
    float: right;    
}

.details_bottom {
    align-self: baseline;
}

/* Sizes */

.inspiration_section img {
    max-width: 50%;
}

.payment_method_svg {
    height: 2.4rem;
    width: auto;
    margin: 10px;
}

.section_films_cover {
    height: 246px;
    width: auto;
}

/* Text */

.hyper_header {
    font-size: 3.8rem;
}

h1 {
    font-size: 2.4rem;
    font-style: bold;
}

h2 {
    font-size: 1.8rem;
    font-style: bold;
}

.copyright_1 {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copyright_2 {
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
    text-transform: uppercase;
}

/* Icons */

.order_success_icon {
    font-size: 14rem;
}

.profile_page_icon {
    font-size: 22rem;
}

.film_icons {
    font-size: 1.5rem;
}

.footer_icon {
    font-size: 2.4rem;
}